<!DOCTYPE html>
<html>
    <head>
        <title>
            CHI2017 LanBridge
        </title>
    </head>
    <body>
        <h3>
            CHI2017 LanBridge
        </h3>
        <p>
            Thanks for using CHI2017 LanBridge! The following are the supporting sessions. We recommend to use <b>laptop</b> to have better experience.
        </p>
        <div class="session-block-template" style="display: none">
            <li>
                <p>
                    <a href="/slides?session_id">
                        <span class="session-title">
                            sessionPadTemplate
                        </span>
                        :
                        <span class="session-time">
                            13:00
                        </span>
                    </a>
                </p>
            </li>
        </div>
        <div class="session-display-area">
        </div>
    </body>
    <script src="static/js/jquery.js">
    </script>
    <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js">
    </script>
    <script>
        // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBvhsHOR3UrEdb6gTXR9tIOihdsYizOaVc",
        authDomain: "clc-chi-6d953.firebaseapp.com",
        databaseURL: "https://clc-chi-6d953.firebaseio.com",
        storageBucket: "clc-chi-6d953.appspot.com",
        messagingSenderId: "20034161141"
      };
      firebase.initializeApp(config);
    </script>
    <script src="static/js/menu.js">
    </script>
</html>