<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, shrink-to-fit=no, initial-scale=1" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>
        <title>
            Simple Sidebar - Start Bootstrap Template
        </title>
        <!-- Bootstrap Core CSS -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet"/>
        <!-- Custom CSS -->
        <link href="static/css/simple-sidebar.css" rel="stylesheet"/>
        <link href="static/css/myCss.css" rel="stylesheet"/>
        <!-- jQuery -->
        <script src="static/js/jquery.js">
        </script>
        <script src="static/js/etherpad.js">
        </script>
        <script src="static/js/megapix-image.js">
        </script>
        <script src="static/js/upload-photo.js">
        </script>
        <!-- Bootstrap Core JavaScript -->
        <script src="static/js/bootstrap.min.js">
        </script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <div class="col-md-offset-2">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="#">
                                CHI2017 CLC Tool
                            </a>
                        </li>
                        <li class="icon">
                            <a onclick="extend()">
                                ☰
                            </a>
                        </li>
                        <div class="slideTemplate">
                            <div class="row">
                                <div class="row-left">
                                    <a href="javascript: return false;" id="1" onclick="changePad(this.id);">
                                        <img alt="" class="img-responsive" src="http://imgur.com/UBOTllp.jpg" tabindex="0"/>
                                    </a>
                                </div>
                                <div class="row-right">
                                    <img src="static/img/user.png">
                                    </img>
                                     <p class="number-of-editing"> 0
                                    </p>
                                    <p class="keyword">Keywords: </p>
                                </div>
                            </div>
                            <hr>
                            </hr>
                        </div>
                        <hr>
                            <div class="row">
                                <label class="take-picture">
                                    <span class="btn-label">
                                        <i class="glyphicon glyphicon-camera">
                                        </i>
                                    </span>
                                    Add Slides
                                    <input accept="image/*" class="take-picture" id="take-picture" type="file">
                                    </input>
                                </label>
                            </div>
                        </hr>
                    </ul>
                </div>
            </div>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <span id="showBlock">
                    <b style="font-size:20px;">
                        Keywords:
                    </b>
                </span>
                <img class="keywordAdd" id="addKeyword" src="static/img/add.png">
                    <hr style="color:black">
                        <div id="PadContent" style="float: left">
                            <div id="mypad">
                            </div>
                            <div class="speechTemplate">
                            </div>
                            <div id="lines" style="height:200px; overflow-y: scroll; overflow-x: hidden;">
                            </div>
                        </div>
                    </hr>
                </img>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!-- Menu Toggle Script -->
        <script>
            function extend() {
        $(".sidebar-nav").toggleClass("responsive");
        $("#sidebar-wrapper").toggleClass("extend");
        $("#wrapper").toggleClass("extend");
    }
        </script>
        <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js">
        </script>
        <script>
            // Initialize Firebase
          var config = {
            apiKey: "AIzaSyBvhsHOR3UrEdb6gTXR9tIOihdsYizOaVc",
            authDomain: "clc-chi-6d953.firebaseapp.com",
            databaseURL: "https://clc-chi-6d953.firebaseio.com",
            storageBucket: "clc-chi-6d953.appspot.com",
            messagingSenderId: "20034161141"
          };
          firebase.initializeApp(config);
        </script>
        <script src="static/js/slides.js">
        </script>
    </body>
</html>